.categories-list .item {
  width: 392px;
  height: auto;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
}

.categories-item-title {
  color: var(--primary-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 0.8;
  letter-spacing: 0.96px;
  margin-bottom: 16px;
  margin-top: 0px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.item ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  border-radius: 4px;
  border: 1px solid #808080;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  color: var(--primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
