#boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.box {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.controls input {
  width: 150px;
  border-radius: 8px;
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  outline: none;
  background: transparent;
}

.controls {
  background-color: #f6f6fe;
  display: flex;
  gap: 16px;
  padding: 32px;
  width: min-content;
  align-items: flex-start;
}

#boxes {
  background: #f6f6fe;
  margin-top: 16px;
  padding: 32px;
  border-radius: 8px;
  width: 100%;
}

.controls-container {
  margin: 0 auto;
  width: auto;
  padding: 32px;
  max-width: max-content;
}

.create-btn {
  width: 120px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  transition: background-color 0.4s;
}

.create-btn:hover {
  background-color: #6c8cff;
}

.destroy-btn {
  width: 120px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #ff4e4e;
  border: none;
}

.destroy-btn:hover {
  background-color: #ff7070;
}
