ul.gallery {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

ul.gallery li {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul.gallery img {
  width: 360px;
  height: 300px;
  display: block;
}
